<appSettings>
  <add key="urlInicial" value="http://localhost/MantenimientoClientes/Home/Login"/>
  <add key="urlListado" value="http://localhost/MantenimientoClientes/Home/LstCliente"/>
  <add key="TestDataSheetPath" value="Selenium\TestDataAccess\TestData.xlsx"/>
  <add key="navegador" value="chrome"/>
</appSettings>